.footer {
}
.footer__container {
  display: flex;
  min-height: 120px;
  justify-content: space-between;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 50px;
}
.footer__logo {
  color: rgb(236, 127, 77);
  font-size: 20px;
  font-weight: 700;
}
.footer__menu {
  
}
.menu {
  display: flex;
  justify-content: center;
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 80px;
}
.footer__item {
}
.footer__link {
  position: relative;
  color: #0F1F1C;
  font-size: 15px;
}
.nav__buttons-footer {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav__btn-signUp-footer {
  color: #0F1F1C;
}
.nav__login-btn-footer {
  color: #fff;
  padding: 15px 40px 15px 40px;
  border-radius: 100px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%), #fff;
  transition: background 0.4s ease-in-out;
}

@media (max-width: 898.8px) {
  .footer__container {
  }
  .footer__logo {
  }
  .footer__menu {
  }
  .menu {
  }
  .footer__list {
    display: none;
  }
  .footer__item {
  }
  .footer__link {
  }
  .nav__buttons-footer {
  }
  .nav__btn-signUp-footer {
  }
  .nav__login-btn-footer {
  }
}